language: java
jdk: oraclejdk7

before_install:
  - export MAVEN_OPTS="-Dmaven.repo.local=$HOME/.m2/repository -Xmx2g -Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss:SSS"

# Travis seems to be running Ant scripts using a JDK version < 7; no chance to look into it yet, so we will ignore for now.
install:
  -


script: mvn -P linuxBuild -DskipTests clean verify
